:root {
   --bg-dark: hsl(0 0% 96%);
   --bg: hsl(0 0% 98%);
   --bg-light: hsl(0 0% 100%);
   --text: hsl(0 0% 5%);
   --text-muted: hsl(0 0% 30%);
   font-family: 'Lexend';
}

/* General Styling */
body {
   margin: 25px 50px 50px 50px;
   background-color: var(--bg-light);
}

h1, h2 {
   color: var(--text);
}

h1 {
   font-size: 2.5rem;
}

h2, h3 {
   font-size: 1.75rem;
   margin-bottom: 0px;
}

p {
   color: var(--text-muted);
}

a {
   text-decoration: none;
   color: hsl(220, 100%, 63%);
}

/* Header Styling */
.header-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1.75px solid hsl(0 0% 88%);
   border-radius: 10px;
   background-color: var(--bg-dark);
   padding: 0px 15px 0px 15px;
   margin-bottom: 25px;
}

/* Main Box Styling */
.main-box {
   display: flex;
   flex-basis: 0;
   flex-direction: column;
   align-items: center;
   border: 1.75px solid hsl(0 0% 88%);
   border-radius: 10px;
   background-color: var(--bg-dark);
}

/* Util Box Styling */
.util-box {
   display: flex;
   justify-content: center;
   gap: 35px;
}

/* Upload Box Styling */
.upload-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px;
   background-color: var(--bg);
   border: 1.75px solid hsl(0 0% 88%);
   border-radius: 10px;
   width: 385px;
}

.upload-box > h1 {
   font-size: 1.5rem;
   margin-bottom: 0px;
}

#upload-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   color: white;
   font-size: 1.1rem;
   background-color: hsl(220, 100%, 63%);
   border: 1px solid hsl(220, 100%, 63%);
   border-radius: 10px;
}

#upload-btn:hover {
   background-color: hsl(220, 100%, 50%);
   border: 1px solid hsl(220, 100%, 50%);
   cursor: pointer;
}

#fileInput {
   display: none
}

/* Pairing Box Styling */
.pairing-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px;
   background-color: var(--bg);
   border: 1.75px solid hsl(0 0% 88%);
   border-radius: 10px;
   width: 385px;
   height: 335px;
}

.pairing-box > h1 {
   font-size: 1.5rem;
}

#joinKey {
   width: 355px;
   height: 55px;
   border: 1.75px solid hsl(0 0% 91%);
   border-radius: 10px;
   font-size: 1.25rem;
   color: var(--text);
}

#joinBtn {
   width: 125px;
   height: 50px;
   color: white;
   font-size: 1.1rem;
   font-family: 'Lexend';
   background-color: hsl(128, 100%, 40%);
   border: 1px solid hsl(128, 100%, 40%);
   border-radius: 10px;
}

#joinBtn:hover {
   background-color: hsl(128, 100%, 35%);
   border: 1px solid hsl(128, 100%, 35%);
   cursor: pointer;
}

/* Code and File Send Section */

#hostCode {
   text-align: center;
   font-size: 1.3rem;
   font-family: 'Lexend';
   margin-top: 10px;
   margin-bottom: 20px;
}

#sendFileBtn{ 
   width: 125px;
   height: 50px;
   color: white;
   font-size: 1.1rem;
   font-family: 'Lexend';
   margin: 0px auto 25px auto;
   background-color: hsl(285, 100%, 65%);
   border: 1px solid hsl(285, 100%, 65%);
   border-radius: 10px;
}

#sendFileBtn:hover{
   background-color: hsl(285, 100%, 55%);
   border: 1px solid hsl(285, 100%, 55%);
}

/* File Download Popup */

#file-popup, #connection-popup{
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: hsla(0, 0%, 0%, 0.5);
   z-index: 9999;
}

#file-popup.hidden, #connection-popup.hidden{
   display: none;
}

#popup-content-down, #popup-content-con {
  display: flex;
  flex-direction: column;
  background: var(--bg-light);
  border-radius: 8px;
  height: 175px;
  width: 375px;
  box-shadow: 0 10px 25px hsla(0, 0%, 0%, 0.15);
}

#close-btn-down, #close-btn-con {
  flex-grow: 0; 
  width: fit-content;
  border: none;
  background: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  align-self: flex-end;
}

#file-alert-txt, #connection-alert-txt{
   align-self: center;
   margin-top: 10px;
}

#file-download {
   align-self: center;
   margin-top: 30px;
}

#acknowledge-btn {
   align-self: center;
   margin-top: 25px;
   width: 100px;
   height: 30px;
   font-size: 1.1rem;
   color: white;
   font-family: 'Lexend';
   background-color: hsl(128, 100%, 40%);
   border: 1px solid hsl(128, 100%, 40%);
   border-radius: 10px;
}

#acknowledge-btn:hover {
   background-color: hsl(128, 100%, 35%);
   border: 1px solid hsl(128, 100%, 35%);
   cursor: pointer;
}

#about-box {
   width: 900px;
   margin-bottom: 50px;
}

#desc {
   font-size: 1.2rem;
   line-height: 2rem;
}